In [18]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [325]:
def answer_one():
    df['Country'] = df.index
    for i in range(0, len(df)):
        if df.iloc[i]['Gold'] == df['Gold'].max():
            return str(df.iloc[i]['Country'])
answer_one()

'United States'

In [327]:
def answer_two():
    df['Country'] = df.index
    for i in range(0, len(df)):
        if abs(df.iloc[i]['Gold'] - df.iloc[i]['Gold.1']) == abs((df['Gold'] - df['Gold.1'])).max():
            return str(df.iloc[i]['Country'])
answer_two()

'United States'

In [329]:
def answer_three():
    df['Country'] = df.index
    dff = df[(df['Gold']>0) & (df['Gold.1']>0)]
    i=0
    while i <= len(dff)-1:
        if (dff.iloc[i]['Gold'] - dff.iloc[i]['Gold.1'])/dff.iloc[i]['Gold.2'] == ((dff['Gold'] - dff['Gold.1'])/dff['Gold.2']).max():
            return str(dff.iloc[i]['Country'])
        i+=1
answer_three()

'Bulgaria'

In [21]:
def answer_four():
    df['Comulative_points'] = (df['Gold.2']*3 + df['Silver.2']*2 +  df['Bronze.2']*1)/6
    return pd.Series(df['Comulative_points'].values)

answer_four()

0        0.333333
1        4.500000
2       21.666667
3        2.666667
4        3.666667
5      153.833333
6       94.833333
7        7.166667
8        4.000000
9        0.166667
10       0.166667
11      25.666667
12      46.000000
13       0.166667
14       0.833333
15       0.333333
16      30.666667
17       0.333333
18      68.500000
19       0.500000
20       2.000000
21     141.000000
22       4.000000
23     186.666667
24       4.833333
25       1.166667
26       0.333333
27      11.166667
28      70.000000
29       0.333333
          ...
116     44.666667
117      0.666667
118      0.333333
119      0.666667
120    202.833333
121    105.000000
122      1.000000
123      5.333333
124      0.666667
125      0.666667
126      7.333333
127      0.166667
128      0.333333
129      4.500000
130      3.166667
131     31.833333
132      2.333333
133     36.666667
134      0.500000
135    947.333333
136      2.666667
137      6.333333
138      3.000000
139      0.666667
140      0.333333
141     28.500000
142      0.666667
143      0.500000
144      3.000000
145      6.333333
dtype: float64

In [154]:
def answer_five():
    census_df = pd.read_csv('census.csv')
    ser = pd.Series(census_df.groupby(['STNAME'])['STNAME'].count())
    for i in range(0,len(ser)):
        if ser[i] ==  ser.max():
            return ser.argmax()
answer_five()

Texas

In [16]:
def answer_six():
    import pandas as pd
    census_df = pd.read_csv('census.csv')
    census_df = census_df[census_df['SUMLEV'] == 50].reset_index()
    list1 = list(census_df.sort_values(['STNAME','CENSUS2010POP'], ascending = [1,0]).groupby('STNAME').head(3).groupby('STNAME').sum().sort_values('CENSUS2010POP', ascending = False).head(3).reset_index()['STNAME'])
    return list1

answer_six()

['California', 'Texas', 'Illinois']

In [15]:
import pandas as pd
census_df = pd.read_csv('census.csv')
census_df = census_df[census_df['SUMLEV'] == 50].reset_index()
def answer_seven():
    dict1 = {}
    for i in range(0,len(census_df)):
            list1  = list(census_df.loc[i,['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']])
            dict1.update({census_df.loc[i,'CTYNAME']+('@'+str(i)):abs(max(list1)-min(list1))})
    str1 = max(dict1, key=dict1.get)    
    return str(str1[:str1.index('@')])

answer_seven()

'Harris County'

In [320]:
def answer_eight():
    import pandas  as pd
    df = pd.read_csv('census.csv')
    df2 = df[((df['REGION'] == 1) | (df['REGION'] == 2)) & (df['POPESTIMATE2015'] > df['POPESTIMATE2014']) & (df['CTYNAME'].str.startswith('Washington')) ]
    return df2[['STNAME','CTYNAME']].sort_index()

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [12]:
import pandas as pd
def answer_seven():
    census_df = pd.read_csv('census.csv')
    census_df = census_df[census_df['SUMLEV'] == 50].copy()
    print(len(census_df))
answer_seven()

3142